.privacy{
    background-color: rgb(4, 23, 66);
    color: #fff;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px
}

.privacy strong{
    font-size: 35px;
}

.link{
    color: rgb(179, 221, 64);
}